nav {
    padding: 10px 20px;
    margin: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #255538;
}

nav #logo {
    color: white;
    margin: 0;
}

nav div {
    display: flex;
    align-items: center;
}
 nav a {
    color: white;
}

nav #dark-mode {
    margin-left: 10px;
    align-self: center;
    height: 34px;
}