<app-header />
<main>
  <h1>Envianos tu receta!</h1>

  <p>
    Por medio de este formulario puedes crear tu propia receta, y sera expuesta
    como las demás, sorprendenos con tu creatividad y tu plato favorito 😉.
  </p>

  <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
    <div>
      <label for="titulo"><h2>Titulo</h2></label>
      <input type="text" name="titulo" id="titulo" formControlName="titulo" />
      <small *ngIf="titulo?.invalid && titulo?.touched">
        <span *ngIf="titulo?.hasError('required')"
          >*Este campo es requerido</span
        >
        <span *ngIf="titulo?.hasError('minlength')">*Minimo 3 caracteres </span>
      </small>
    </div>

    <div>
      <label for="intro"><h2>Introduccion</h2></label>
      <input type="text" name="intro" id="intro" formControlName="intro" />
      <small *ngIf="intro?.invalid && intro?.touched">
        <span *ngIf="intro?.hasError('required')"
          >*Este campo es requerido</span
        >
        <span *ngIf="intro?.hasError('minlength')">*Minimo 3 caracteres </span>
      </small>
    </div>

    <div>
      <label for="preparacion"><h2>Preparacion</h2></label>
      <input
        type="text"
        name="preparacion"
        id="preparacion"
        formControlName="preparacion"
      />
      <small *ngIf="preparacion?.invalid && preparacion?.touched">
        <span *ngIf="preparacion?.hasError('required')"
          >*Este campo es requerido</span
        >
        <span *ngIf="preparacion?.hasError('minlength')"
          >*Minimo 3 caracteres
        </span>
      </small>
    </div>

    <div>
      <label for="coccion"><h2>Coccion</h2></label>
      <input
        type="text"
        name="coccion"
        id="coccion"
        formControlName="coccion"
      />
      <small *ngIf="coccion?.invalid && coccion?.touched">
        <span *ngIf="coccion?.hasError('required')"
          >*Este campo es requerido</span
        >
        <span *ngIf="coccion?.hasError('minlength')"
          >*Minimo 3 caracteres
        </span>
      </small>
    </div>

    <div>
      <label for="tiempoTotal"><h2>Tiempo Total</h2></label>
      <input
        type="text"
        name="tiempoTotal"
        id="tiempoTotal"
        formControlName="tiempoTotal"
      />
      <small *ngIf="tiempoTotal?.invalid && tiempoTotal?.touched">
        <span *ngIf="tiempoTotal?.hasError('required')"
          >*Este campo es requerido</span
        >
        <span *ngIf="tiempoTotal?.hasError('minlength')"
          >*Minimo 3 caracteres
        </span>
      </small>
    </div>

    <div>
      <label for="imagen"><h2>URL Imagen</h2></label>
      <input type="text" name="imagen" id="imagen" formControlName="imagen" />
      <small *ngIf="imagen?.invalid && imagen?.touched">
        <span *ngIf="imagen?.hasError('required')"
          >*Este campo es requerido</span
        >
        <span *ngIf="imagen?.hasError('minlength')">*Minimo 3 caracteres </span>
      </small>
    </div>

    <div>
      <label for="instrucciones"><h2>Instrucciones</h2></label>
      <textarea
        name="instrucciones"
        id="instrucciones"
        cols="30"
        rows="10"
        formControlName="instrucciones"
      ></textarea>
      <small *ngIf="instrucciones?.invalid && instrucciones?.touched">
        <span *ngIf="instrucciones?.hasError('required')"
          >*Este campo es requerido</span
        >
        <span *ngIf="instrucciones?.hasError('minlength')"
          >*Minimo 3 caracteres
        </span>
      </small>
    </div>

    <div>
      <label for="ingredientes"><h2>ingredientes</h2></label>
      <textarea
        name="ingredientes"
        id="ingredientes"
        cols="30"
        rows="10"
        formControlName="ingredientes"
      ></textarea>
      <small *ngIf="ingredientes?.invalid && ingredientes?.touched">
        <span *ngIf="ingredientes?.hasError('required')"
          >*Este campo es requerido</span
        >
        <span *ngIf="ingredientes?.hasError('minlength')"
          >*Minimo 3 caracteres
        </span>
      </small>
    </div>

    <div>
      <label for="calorias"><h2>calorias</h2></label>
      <input
        type="number"
        name="calorias"
        id="calorias"
        formControlName="calorias"
      />
      <small *ngIf="calorias?.invalid && calorias?.touched">
        <span *ngIf="calorias?.hasError('required')"
          >*Este campo es requerido</span
        >
        <span *ngIf="calorias?.hasError('minlength')"
          >*Minimo 3 caracteres
        </span>
      </small>
    </div>

    <div>
      <label for="carbohidratos"><h2>carbohidratos</h2></label>
      <input
        type="text"
        name="carbohidratos"
        id="carbohidratos"
        formControlName="carbohidratos"
      />
      <small *ngIf="carbohidratos?.invalid && carbohidratos?.touched">
        <span *ngIf="carbohidratos?.hasError('required')"
          >*Este campo es requerido</span
        >
        <span *ngIf="carbohidratos?.hasError('minlength')"
          >*Minimo 3 caracteres
        </span>
      </small>
    </div>

    <div>
      <label for="proteinas"><h2>proteinas</h2></label>
      <input
        type="text"
        name="proteinas"
        id="proteinas"
        formControlName="proteinas"
      />
      <small *ngIf="proteinas?.invalid && proteinas?.touched">
        <span *ngIf="proteinas?.hasError('required')"
          >*Este campo es requerido</span
        >
        <span *ngIf="proteinas?.hasError('minlength')"
          >*Minimo 3 caracteres
        </span>
      </small>
    </div>

    <div>
      <label for="grasas"><h2>grasas</h2></label>
      <input type="text" name="grasas" id="grasas" formControlName="grasas" />
      <small *ngIf="grasas?.invalid && grasas?.touched">
        <span *ngIf="grasas?.hasError('required')"
          >*Este campo es requerido</span
        >
        <span *ngIf="grasas?.hasError('minlength')">*Minimo 3 caracteres </span>
      </small>
    </div>

    <div>
      <button type="submit">Send</button>
    </div>
  </form>
</main>
