<app-header/>

<div class="grid-container">
  <main>
    <div class="recipeimage">
      <img [src]="recipe()?.imagen" [alt]="recipe()?.titulo" />
    </div>
    <h1>{{recipe()?.titulo}}</h1>
    <p>{{recipe()?.intro}}</p>

    <div class="preparation-time">
      <h3>Tiempo de preaparación</h3>
      <ul>
        <li>Preparation: {{recipe()?.preparacion}} Minutes</li>
        <li>Cooking: {{recipe()?.coccion}} Minutes</li>
        <li>Total: {{recipe()?.tiempoTotal}} Minutes</li>
      </ul>
    </div>

    <h3>Instrucciones</h3>

    <ol>
      @for(instruccion of recipe()?.instrucciones; track instruccion){
        <li>{{instruccion}}</li>
      }
    </ol>
  </main>

  <aside>
    <h3>Ingredientes</h3>

    <ul>
      @for(ingrediente of recipe()?.ingredientes; track ingrediente){
        <li>{{ingrediente}}</li>
      }
    </ul>
    <h3>Valores Nutricionales</h3>

    <table>
      <tbody>
        <tr>
          <td>Calories</td>
          <td class="color-cell" id="Calories">{{recipe()?.valoresNutricionales?.calorias}}g</td>
        </tr>
        <tr>
          <td>Carbs</td>
          <td class="color-cell">{{recipe()?.valoresNutricionales?.carbohidratos}}g</td>
        </tr>
        <tr>
          <td>protein</td>
          <td class="color-cell">{{recipe()?.valoresNutricionales?.proteinas}}g</td>
        </tr>
        <tr>
          <td>Fat</td>
          <td class="color-cell">{{recipe()?.valoresNutricionales?.grasas}}g</td>
        </tr>
      </tbody>
    </table>
  </aside>

  <section>
    <h3>More recipes</h3>
    <div class="more-recipes-flex">
      <a href="">
        <div class="more-recipes-img">
          <img
            src=""
            alt="tomato and basilbruschetta"
          />
        </div>
        <div class="recipe-description">
          <h4>Simple Tomato and Basil Bruschetta</h4>
          <p>classic appetizer that's bursting with fresh flavors</p>
        </div>
      </a>

      <a href="">
        <div class="more-recipes-img">
          <img src="" alt="herb chicken" />
        </div>
        <div class="recipe-description">
          <h4>Lemon Herb Grilled Chicken</h4>
          <p>perfect for a relaxed evening gathering with friends or family.</p>
        </div>
      </a>

      <a href="">
        <div class="more-recipes-img">
          <img
            src=""
            alt="spaghetti aglio"
          />
        </div>
        <div class="recipe-description">
          <h4>Simple Pasta Aglio e Olio</h4>
          <p>classic Italian dish known for its simplicity and bold flavors</p>
        </div>
      </a>
    </div>
  </section>
</div>
